/SoapUI/Calculadora/nbproject/private/
/SoapUI/Calculadora/build/
/SoapUI/Calculadora/dist/
/SoapUI/Paises/nbproject/private/
/SoapUI/ConsultaPaises/nbproject/private/
/SoapUI/ConsultaPaises/build/
/SoapUI/ConsultaPaises/dist/
